In [1]:
from GameDay import GameDay
Game = GameDay() #create instance of class (runs __init__)
Game_DF = Game.GameDay_Wrapper() #DataFrame of list of games for Today

Getting List of Games on 08/29/2022
Matchups, Start Times, Probable Pitchers, and Weather will be added to a DataFrame
Fetching Weather Data: This may take up to 30 seconds
DataFrame of Games on 08/29/2022:                                            Game         Time  \
0         St. Louis Cardinals @ Cincinnati Reds  3:40 PM MST
1           Los Angeles Dodgers @ Miami Marlins  3:40 PM MST
2              Chicago Cubs @ Toronto Blue Jays  4:07 PM MST
3              Boston Red Sox @ Minnesota Twins  4:40 PM MST
4        Pittsburgh Pirates @ Milwaukee Brewers  5:10 PM MST
5         New York Yankees @ Los Angeles Angels  6:38 PM MST
6  Philadelphia Phillies @ Arizona Diamondbacks  6:40 PM MST
7       San Diego Padres @ San Francisco Giants  6:45 PM MST

        Home Pitcher    Away Pitcher                        Weather
0                      Miles Mikolas               Showers SE 2 mph
1        Pablo Lopez   Tony Gonsolin               Showers SE 2 mph
2       Jose Berrios    Javier Assad         Partly Cloudy SE 2 mph
3        Dylan Bundy    Brayan Bello  Humid, Partly Cloudy SE 3 mph
4      Corbin Burnes                            Light Rain SW 3 mph
5        Jose Suarez  Frankie Montas           Clear Skies SW 2 mph
6  Madison Bumgarner   Ranger Suarez            Clear Skies N 2 mph
7       Carlos Rodon  Mike Clevinger           Clear Skies SW 3 mph

In [2]:
from PitcherVsTeam import PitcherVsTeam
Game_DF

,Game,Time,Home Pitcher,Away Pitcher,Weather
0,St. Louis Cardinals @ Cincinnati Reds,3:40 PM MST,,Miles Mikolas,Showers SE 2 mph
1,Los Angeles Dodgers @ Miami Marlins,3:40 PM MST,Pablo Lopez,Tony Gonsolin,Showers SE 2 mph
2,Chicago Cubs @ Toronto Blue Jays,4:07 PM MST,Jose Berrios,Javier Assad,Partly Cloudy SE 2 mph
3,Boston Red Sox @ Minnesota Twins,4:40 PM MST,Dylan Bundy,Brayan Bello,"Humid, Partly Cloudy SE 3 mph"
4,Pittsburgh Pirates @ Milwaukee Brewers,5:10 PM MST,Corbin Burnes,,Light Rain SW 3 mph
5,New York Yankees @ Los Angeles Angels,6:38 PM MST,Jose Suarez,Frankie Montas,Clear Skies SW 2 mph
6,Philadelphia Phillies @ Arizona Diamondbacks,6:40 PM MST,Madison Bumgarner,Ranger Suarez,Clear Skies N 2 mph
7,San Diego Padres @ San Francisco Giants,6:45 PM MST,Carlos Rodon,Mike Clevinger,Clear Skies SW 3 mph

In [3]:
DF_list = PitcherVsTeam(Game_DF)

Processing 0...
Processing 1...
Completed 1...
Processing 2...
Completed 2...
Processing 3...
Completed 3...
Processing 4...
Processing 5...
Completed 5...
Processing 6...
Completed 6...
Processing 7...
Completed 7...

In [5]:
DF_list[-1]