In [8]:
from GameDay import GameDay
from PitcherVsTeam import PitcherVsTeam

In [10]:
Game = GameDay() #create instance of class (runs __init__)
Game_DF = Game.GameDay_Wrapper() #DataFrame of list of games for Today
display(Game_DF)
DF_list = PitcherVsTeam(Game_DF)
for df in DF_list:
    display(df)

Getting List of Games on 08/31/2022
Matchups, Start Times, Probable Pitchers, and Weather will be added to a DataFrame
Fetching Weather Data: This may take up to 30 seconds
DataFrame of Games on 08/31/2022:

,Game,Time,Home Pitcher,Away Pitcher,Weather
0,Houston Astros @ Texas Rangers,11:05 AM MST,Martin Perez,Cristian Javier,Cloudy S 2 mph
1,Pittsburgh Pirates @ Milwaukee Brewers,11:10 AM MST,Freddy Peralta,Zach Thompson,Clear Skies NW 3 mph
2,San Diego Padres @ San Francisco Giants,12:45 PM MST,Alex Wood,Joe Musgrove,Clear Skies SW 2 mph
3,Baltimore Orioles @ Cleveland Guardians,3:10 PM MST,Triston McKenzie,Jordan Lyles,Clear Skies SW 4 mph
4,St. Louis Cardinals @ Cincinnati Reds,3:40 PM MST,Mike Minor,Jose Quintana,Clear Skies NW 2 mph
5,Tampa Bay Rays @ Miami Marlins,3:40 PM MST,Trevor Rogers,Drew Rasmussen,Thunderstorms E 3 mph
6,Oakland Athletics @ Washington Nationals,4:05 PM MST,Anibal Sanchez,James Kaprielian,Clear Skies NW 3 mph
7,Chicago Cubs @ Toronto Blue Jays,4:07 PM MST,Mitch White,Luke Farrell,Partly Cloudy W 3 mph
8,Los Angeles Dodgers @ New York Mets,4:10 PM MST,Jacob deGrom,Tyler Anderson,Clear Skies NW 3 mph
9,Seattle Mariners @ Detroit Tigers,4:10 PM MST,Tyler Alexander,Marco Gonzales,Clear Skies W 3 mph
10,Colorado Rockies @ Atlanta Braves,4:20 PM MST,Kyle Wright,Ryan Feltner,Clear Skies NW 3 mph
11,Boston Red Sox @ Minnesota Twins,4:40 PM MST,Joe Ryan,Michael Wacha,Clear Skies W 3 mph
12,Kansas City Royals @ Chicago White Sox,5:10 PM MST,Lance Lynn,Kris Bubic,Clear Skies NW 3 mph
13,New York Yankees @ Los Angeles Angels,6:38 PM MST,Patrick Sandoval,Gerrit Cole,Clear Skies W 3 mph
14,Philadelphia Phillies @ Arizona Diamondbacks,6:40 PM MST,Tommy Henry,Bailey Falter,Clear Skies W 3 mph

Processing 0...
Completed 0...
Processing 1...
Completed 1...
Processing 2...
Completed 2...
Processing 3...
Completed 3...
Processing 4...
Completed 4...
Processing 5...
Completed 5...
Processing 6...
Completed 6...
Processing 7...
Completed 7...
Processing 8...
Completed 8...
Processing 9...
Completed 9...
Processing 10...
Completed 10...
Processing 11...
Completed 11...
Processing 12...
Completed 12...
Processing 13...
Completed 13...
Processing 14...
Completed 14...

In [7]:
import statsapi